<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TomoRay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background-color:#f4f6f9;">
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
